# Директория сборки
/build/

# Файлы CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeOutput.log
CMakeError.log

# Скомпилированные файлы
*.exe
*.o
*.a
*.so

# Файлы IDE
.vscode/
.idea/
.project
.cproject

# Лог-файлы
*.log
*.tmp

# Системные файлы
Thumbs.db
Desktop.ini
.DS_Store
